﻿@model Quiz3.Models.USUARIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>USUARIO</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ULTIMA_CONEXION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ULTIMA_CONEXION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL_CONEXION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_CONEXION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA.NOMBRE1_PERSONA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA.NOMBRE1_PERSONA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NOMBRE_USUARIO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
