﻿@model Quiz3.Models.USUARIO

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>USUARIO</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.NOMBRE_USUARIO)

        <div class="form-group">
            @Html.LabelFor(model => model.PASSWORD_USUARIO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PASSWORD_USUARIO)
                @Html.ValidationMessageFor(model => model.PASSWORD_USUARIO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ULTIMA_CONEXION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ULTIMA_CONEXION)
                @Html.ValidationMessageFor(model => model.ULTIMA_CONEXION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TOTAL_CONEXION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TOTAL_CONEXION)
                @Html.ValidationMessageFor(model => model.TOTAL_CONEXION)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PERSONAID_PERSONA, "PERSONAID_PERSONA", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PERSONAID_PERSONA", String.Empty)
                @Html.ValidationMessageFor(model => model.PERSONAID_PERSONA)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
