﻿@model IEnumerable<Quiz3.Models.USUARIO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PASSWORD_USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ULTIMA_CONEXION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL_CONEXION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERSONA.NOMBRE1_PERSONA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PASSWORD_USUARIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ULTIMA_CONEXION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL_CONEXION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERSONA.NOMBRE1_PERSONA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NOMBRE_USUARIO }) |
            @Html.ActionLink("Details", "Details", new { id=item.NOMBRE_USUARIO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NOMBRE_USUARIO })
        </td>
    </tr>
}

</table>
