﻿@model Quiz3.Models.PERSONA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PERSONA</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE1_PERSONA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE1_PERSONA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE2_PERSONA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE2_PERSONA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO1_PERSONA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO1_PERSONA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO2_PERSONA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO2_PERSONA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTATURA_PERSONA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTATURA_PERSONA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PERSONA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
