﻿@model Quiz3.Models.PERSONA

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PERSONA</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID_PERSONA)

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRE1_PERSONA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBRE1_PERSONA)
                @Html.ValidationMessageFor(model => model.NOMBRE1_PERSONA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NOMBRE2_PERSONA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBRE2_PERSONA)
                @Html.ValidationMessageFor(model => model.NOMBRE2_PERSONA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.APELLIDO1_PERSONA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.APELLIDO1_PERSONA)
                @Html.ValidationMessageFor(model => model.APELLIDO1_PERSONA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.APELLIDO2_PERSONA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.APELLIDO2_PERSONA)
                @Html.ValidationMessageFor(model => model.APELLIDO2_PERSONA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ESTATURA_PERSONA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ESTATURA_PERSONA)
                @Html.ValidationMessageFor(model => model.ESTATURA_PERSONA)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
