﻿@model IEnumerable<Quiz3.Models.PERSONA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE1_PERSONA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE2_PERSONA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO1_PERSONA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO2_PERSONA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTATURA_PERSONA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE1_PERSONA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE2_PERSONA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO1_PERSONA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDO2_PERSONA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTATURA_PERSONA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PERSONA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PERSONA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PERSONA })
        </td>
    </tr>
}

</table>
